<p>user works!</p>
<div class="card-list">
    <div class="card" *ngFor="let user of users">
    
      <div class="card-body">
        <img width="230px" height="280px" src = {{user.picture}} class="card-img-top" >
        <p>firstName: {{ user.firstName }}</p>
        <p>lastName: {{ user.lastName }}</p>
        <p>id: {{ user.id }}</p>
       <a routerLink="/profile/{{user.id}}" class="btn btn-primary">See profile</a>

       <a routerLink="/profile/{{user.id}}/posts" class="btn btn-secondary ms-2">See posts</a>
       
       
     
      </div>
    </div>
  </div>
  