<p>profile works!</p>

<div class="card-list">
    <div class="card">
    
      <div class="card-body">
        <img width="230px" height="280px" src = {{userdata?.picture}} class="card-img-top" >
        <p>firstName: {{ userdata?.firstName }}</p>
        <p>lastName: {{ userdata?.lastName }}</p>
        <p>id: {{ userdata?.id }}</p>
        <p>gender: {{ userdata?.gender }}</p>
        <p>email: {{ userdata?.email }}</p>
        <p>city: {{ userdata?.location.city }}</p>
       
     
      </div>
    </div>



    
<div class="row">
  <div class="col-md">
    <router-outlet></router-outlet>
  </div>
</div>


  </div>
  
